<form action="/auth/signup" method="POST" enctype="multipart/form-data">
  <label for="new-email">Email</label>
  <input id="new-email" type="email" name="email">

  <label for="new-name">Name</label>
  <input id="new-name" type="text" name="name">

  <label for="new-password">Password</label>
  <input id="new-password" type="password" name="password">

  <label for="inputFile">Profile Picture</label>
  <input type="file" name="inputFile">

  <input type="submit" value="Sign up">
</form>