<div class="row" style="text-align: center;">
    <h3>This App helps you track your expenses, and lets you view them by different methods.</h3>
    <ul>
        <li>* You can view your expenses by day, month, year, or category.</li>
        <li>* Search a specific date by selecting year, month, and day.</li>
        <li>* Create your own categories to categorize your expenses.</li>
        <li>* Edit expenses or categories.</li>
    </ul>
</div>

<div class="row" style="text-align: center;">
    <p>Log Back Into Your Account To Start Managing Your Expenses!</p>
    <a class="btn btn-primary" href="/auth/login">Login</a><br />
    <p>If you don't have an account, click on Signup to create one.</p>
    <a class="btn btn-primary" href="/auth/signup">Signup</a>
</div>