<h2>Create New Category</h2>

<form action="/category" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label for="name">Category Name</label>
    <input type="text" class="form-control" id="name" name="name" required>
  </div>

  <div class="form-group">
  <label for="inputFile"></label>
  <input type="file" name="inputFile" value="none" >
  </div>
  <button type="submit" class="btn btn-primary">Confirm</button>
  <a href="/expense/new">Cancel</a>
</form>

<h2>Your Categories:</h2>
<% categories.forEach(function(category) { %>
  <li><%= category.name %><img src="<%= category.img %>" alt="No Image" style="max-width: 1.5%;">
    <form action="/category/<%=category.id%>?_method=DELETE" method="POST">
      <button type="submit">Delete</button>
    </form>  
  </li>
<% }) %>