<h1>Create New Category</h1>

<form action="/category" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label for="name">Category Name</label>
    <input type="text" class="form-control" id="name" name="name" required>
  </div>

  <div class="form-group">
  <label for="inputFile"></label>
  <input type="file" name="inputFile">
  </div>
  <button type="submit" class="btn btn-primary">Confirm</button>
  <a href="/expense/new">Cancel</a>
</form>

<h2>Categories</h2>
<% categories.forEach(function(category) { %>
  <p> <%= category.id %> <%= category.name %></p>
<% }) %>