<h2>Expenses on: <%= chosenDate %></h2>
<ul>
    <% for (let i = 0; i < expenses.length; i++){%>
      <li><%=expenses[i].name + ' $' + expenses[i].amount + ' '%><a href="/expense/<%=expenses[i].id%>">Edit</a></li>
    <%}%>
  </ul>

<p>Today's total: $<%= theSum.toFixed(2) %></p>

<a href="/expense">Back To Main</a>